mat-card{
  margin: 1em;
  max-width: 15em;
  min-width: 12em;
  background: linear-gradient(to bottom, rgb(55, 55, 55) 15%, rgb(66, 66, 66));
}

mat-form-field{
  padding-bottom: 0;
}

textarea{
  width: 100%;
}

.content{
  overflow-y: hidden;
}

