<mat-toolbar color="primary" class="example-toolbar">
	<button mat-icon-button (click)="isExpanded = !isExpanded"><mat-icon>menu</mat-icon></button>
	<h1>Zweifel Scheduling Tool</h1>
</mat-toolbar>
<mat-sidenav-container class="mav-container" autosize>
	<mat-sidenav #sidenav class="sidenav" mode="side" opened="true" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
		<mat-nav-list>
			<div class="submenu" [ngClass]="{'expanded' : showMenu}" *ngIf="isShowing || isExpanded">
				<a routerLink="/add-event" mat-list-item>
          <mat-icon>add</mat-icon>
          Add New Event
        </a>
				<a mat-list-item href="">Submenu Item 2</a>
			</div>
		</mat-nav-list>
    <mat-nav-list>
</mat-nav-list>
	</mat-sidenav>

	<div class="content">
    <app-event></app-event>
    <app-event></app-event>

  </div>

</mat-sidenav-container>
